*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Barra Navegación */

header {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px #0000001f;
    width: 100%;
    height: 60px;
    margin-top: -150px;
    position: fixed;
    z-index: 1;
}

.container__menu{
    width: 90%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 100px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #424242;
    font-family: 'EB Garamond', serif;
}

/* #selected{
    border-bottom: 2px solid #0D47A1;
    bottom: 0px;
} */

.edit {
    margin-top: 18px;
    height: 2px;
    width: 150px;
    background: #0D47A1;
    position: absolute;
}

.menu nav img{
    background: #402727;
    display: none;
}

.menu #btn_menu{
    display: none;
}


/* Menu Responsive */

@media screen and (max-width: 1030px){

    header{
        padding: 20px;
        height: 56px;
        margin-top: -100px;
    }

}

@media screen and (max-width: 1030px){

    .container__menu{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: #bebebe;
    }

    #selected{
        background: none;
        padding: 0px;
        border-radius: none;
        color: #F6615D;
    }
    
    .menu nav img{
        display: block;
        width: 100px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }

    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        font-size: 20px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: rgba(255, 255, 255, 0.2);
    }
}

/* Contenido principal */
main {
    margin-top: 150px;
    height: 1000px;
    width: 100%;
    position: relative;
}

article {
    height: auto;
    width: 85%;
    margin: 0px auto;
    position: relative;
}

section {
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
}

.container__informacion { /* Contenedor principal */
    height: auto;
    width: 700px;
    position: relative;
}

.container__titulo {
    height: auto;
    width: 100%;
    position: relative;
}

.container__titulo h1 {
    font-family: 'EB Garamond', serif;
    font-size: 2.5em;
    font-weight: 900;
    color: #373737;
}

.container__titulo h1 span {
    color: #FEBA0B;
}

.design {
    margin-top: 5px;
    height: 2px;
    width: 100px;
    background: #0D47A1;
}

.container__informacion h2 {
    font-size: 2em;
    font-weight: 700;
    color: #373737;
    padding-top: 10px;
    display: inline-block;
}

.icons {
    margin-left: 20px;
    border-left: 2px solid #607D8B;
    width: 200px;
    height: 20px;
    display: inline-block;
    list-style: none;
}

.icons ul {
    list-style: none;
}

.icons ul li {
    font-size: 18px;
    padding: 0px 10px;
    display: inline-block;
    color: #212121;
}

.container__informacion p {
    height: auto;
    font-size: 1.4em;
    margin-top: 40px;
    max-width: 100%;
    text-align: justify;
    display: inline-block;
}

.container__robot {
    text-align: center;
    margin-left: 150px;
    width: 25%;
    position: relative;
    display: inline-block;
}

.container__robot img {
    width: 250px;
    animation: move_vector 4s ease-in-out infinite;
    transition: all 300ms;  
}

.butto-container {
    height: auto;
    width: 86%;
    display: block;
    position: relative;
    margin: 70px auto;
}

.butto-container a {
    width: 250px;
    padding: 20px;
    position: relative;
    display: block;
    font-size: 22px;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    background: #FEBA0B;
}

.butto-container a:hover {
    box-shadow: 0px 0px 10px 0px #424242;
}



@keyframes move_vector {
    0% {
        transform: translateY(20px);
    }
    25% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(20px);
    }
}

/* Contenido Principal responsive */

@media screen and (max-width: 500px) {

    main {
        margin-top: 100px;
        height: auto;
        width: 100%;
        position: relative;
    }
    
    section {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
    }

    .container__informacion { /* Contenedor principal */
        height: auto;
        width: 100%;
        position: relative;
    }
    
    .container__titulo h1 {
        font-size: 2em;
    }

    .container__informacion h2 {
        font-size: 1.4em;
    }
    
    .icons {
        margin-left: 0px;
    }
    
    .container__informacion p {
        font-size: 1.3em;
    }
    
    .container__robot {
        text-align: center;
        margin: 20px 0px 0px 35px;
        width: 80%;
        position: relative;
        display: inline-block;
    }

    .container__robot img {
        width: 200px;
        animation: move_vector 4s ease-in-out infinite;
        transition: all 300ms;  
    }

    .butto-container {
        height: auto;
        width: 60%;
        display: block;
        position: relative;
        margin: 20px auto;
    }
    
    .butto-container a {
        width: 100%;
        padding: 15px;
        position: relative;
        display: block;
        font-size: 18px;
        border-radius: 30px;
        text-align: center;
        font-weight: bold;
        color: #FFFFFF;
        background: #FEBA0B;
    }
}

.icons ul li img {
    width: 30px;
    margin-left: -5px;
}

.article__2 {
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    margin-top: 95px;
    width: 100%;
    height: 480px;
    position: relative;
   
}

.section__2 {
    height: auto;
    width: 85%;
    margin: 0px auto;
    position: relative;
}

.container__infoTwo {
    height: 800px;
    width: 100%;
    position: relative;
    display: block;
    font-size: 7px;
}

.container__infoTwo h3 {
    padding-bottom: 30px;
    padding-top: 10px;
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-size: 4em;
    font-weight: 900;
    color: #373737;
}

.container__infoTwo h3 span {
    color: #FEBA0B;
}

.container__cards {
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
}

.container__cards1 {
    border-radius: 6px;
    border: solid 1px #e8eaed;
    background: #FFFFFF;
    height: 365px;
    width: 20%;
    margin: 0px 20px;
    box-shadow: 0px 0px 15px #0000001f;
    transition: all .8s;
}

.container_img {
    width: 100%;
    height: 200px;
}

.container_img img {
    width: 100%;
    height: 200px;
    object-fit: scale-down;
}

.cards__informacion {
    margin-top: -25px;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.cards__informacion h4 {
    font-size: 18px;
    font-weight: 700;
    color: #373737;
    display: inline-block;
    font-family: 'EB Garamond', serif;  
}

.design1 {
    margin-top: 5px;
    margin-left: 5px;
    height: 2px;
    width: 100px;
    background: #0D47A1;
}

.cards__informacion p {
    text-align: justify;
    font-size: 16px;
    padding: 10px 5px;
}

.icons1 {
    margin-left: 20px;  
    width: 200px;
    height: 35px;
    display: inline-block;
    list-style: none;
}

.icons1 ul li {
    padding: 5px 10px;
    display: inline-block;
}

.icons1 ul li img {
    width: 30px;
}

.icons2 {
    width: 800px;
    height: auto;
    display: flex;
}

.icons2 ul li img {
    width: 40px;
}

.container__cards2 {
    width: 25%;
}

.cards__informacion1 {
    margin-top: -10px;
}

.cards__informacion1 .icons1 {
    margin-top: -5px;
}

@media screen and (max-width: 500px) {

    .article__2 {
        border-top: 1px solid #BDBDBD;
        border-bottom: 1px solid #BDBDBD;
        margin-top: 95px;
        width: 100%;
        height: auto;
        position: relative;
       
    }

    .container__infoTwo {
        height: auto;
        width: 100%;
        position: relative;
        display: block;
    }
    .container__infoTwo .icons2 h3 {
        padding-bottom: 30px;
        padding-top: 10px;
        display: inline-block;
        font-family: 'EB Garamond', serif;
        font-size: 2.8em;
        font-weight: 900;
        color: #373737;
    }

    .container__infoTwo h3 span {
        color: #FEBA0B;
    }

    .container__cards {
        height: auto;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .container__cards1 {
        border-radius: 6px;
        border: solid 1px #e8eaed;
        background: #FFFFFF;
        height: auto;
        width: 100%;
        margin: 10px auto;
        box-shadow: 0px 0px 15px #0000001f;
        transition: all .8s;
    }
    
    .container_img {
        width: 100%;
        height: 170px;
    }
    
    .container_img img {
        width: 100%;
        height: 150px;
        object-fit: scale-down;
    }
    
    .cards__informacion {
        margin-top: -25px;
        width: 100%;
        height: 100%;
        position: relative;
        text-align: left;
    }
    
    .cards__informacion h4 {
        font-size: 2.8em;
        padding-top: 10px;
        padding-left: 5px;
        font-weight: 700;
        color: #373737;
        display: inline-block;
        font-family: 'EB Garamond', serif;  
    }

    .design1 {
        margin-top: 5px;
        margin-left: 5px;
        height: 2px;
        width: 80px;
        background: #0D47A1;
    }
    
    .cards__informacion p {
        font-size: 2.4em;
        padding: 10px 5px;
    }
    
    .icons1 {
        margin-left: 70px;  
        width: 200px;
        height: 35px;
        display: inline-block;
        list-style: none;
    }
    
    .icons1 ul li {
        padding: 5px 10px;
        display: inline-block;
    }
    
    .icons1 ul li img {
        width: 30px;
    }
    
    .icons2 {
        width: 100%;
        height: auto;
        display: flex;
    }
    
    .icons2 ul li img {
        width: 40px;
    }
    
    
}

/* Diseño carrusel */

.section__carrusel {
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
}

.container__informacion--target {
    width: 40%;
}

.container__tituloh3 h1 {
    font-size: 1.8em;
    padding-top: 20px;
}

.container__informacion p {
    font-size: 1.2em;
}

.body1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: -60px;
    margin-left: 180px;
    font-family: 'Urbanist', sans-serif;
    padding-bottom: 300px;
}

a {
    text-decoration: none;
}

input {
    display: none;
}

.container {
    width: auto;
    height: auto;/* Evita que se sobre pongan cosas en el */
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.cards {
    margin-top: 74px;
    position: relative;
    height: 400px;
    width: 500px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cards label {
    position: absolute;
    width: 300px; /* Ancho del contenido */
    height: 580px; /* Altura del contenido */
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}

.cards .card {
    position: relative;
    height: 100%;
    background-color: #323444;
    border-radius: 10px;
    padding: 10px 10px;
}

.card .image {
    display: flex;
    justify-content: space-between;
}

.card .image img {
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    margin-top: 5px;
    width: 100%;
    height: 550px;
    object-fit: scale-down;/* Escala una imagen muy bien */
}

.card .image .dots {
    text-align: center;
}

.dots div { /* Puntos */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    margin-bottom: 5px;
}

.dots div:nth-child(1) {
    background-color: var(--current-color1);
}

.dots div:nth-child(2) {
    background-color: #5B85F9;
}

.dots div:nth-child(3) {
    background-color: #000;
}

#s1:checked~.cards #slide4, /* Midificado */
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide5, /* Midificado */
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
    --current-color1: #fad00c;
    --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2, 
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4, 
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

@media screen and (max-width: 500px) {
    .section__carrusel {
        height: auto;
        width: 100%;
        display: block;
        position: relative;
    }
    
    .container__informacion--target {
        width: 100%;
    }
    
    .container__tituloh3 h1 {
        font-size: 25px;
        padding-top: 20px;
    }
    
    .body1 {
        height: 350px;
        width: auto;
        margin-top: 10px;
        padding-bottom: 380px;
    }

    .container {
        margin-right: 345px;
        width: 100%;
        height: auto; /* Evita que se sobre pongan cosas en el */
    } 
    
    .cards {
        position: relative;
        height: auto;
        width: 100%;
        perspective: 800px;
        transform-style: preserve-3d;
    }
    
    .cards label {
        position: absolute;
        width: 180px; /* Ancho del contenido */
        height: auto; /* Altura del contenido */
        cursor: pointer;
        transition: transform 0.55s ease;
    }
    
    .cards .card {
        position: relative;
        height: 100%;
        background-color: #323444;
        border-radius: 10px;
        padding: 10px 10px;
    }
    
    .card .image {
        display: flex;
        justify-content: space-between;
    }
    
    .card .image img {
        border-radius: 5px;
        box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
        margin-top: 5px;
        width: 100%;
        height: 270px;
        object-fit: scale-down;/* Escala una imagen muy bien */
    }
    
    .card .image .dots {
        text-align: center;
    }
    
    .dots div { /* Puntos */
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-bottom: 5px;
    }
    #s1:checked~.cards #slide4, /* Midificado */
    #s2:checked~.cards #slide5,
    #s3:checked~.cards #slide1,
   #s4:checked~.cards #slide2,
   #s5:checked~.cards #slide3 {
       box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
       transform: translate3d(-55%, 0, -220px);
       --current-color1: #ECEAED;
       --current-color2: #404457;
}

     #s1:checked~.cards #slide5, /* Midificado */
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

    #s1:checked~.cards #slide1,
    #s2:checked~.cards #slide2,
    #s3:checked~.cards #slide3,
    #s4:checked~.cards #slide4,
    #s5:checked~.cards #slide5 {
        box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
        transform: translate3d(0, 0, 0);
        --current-color1: #fad00c;
        --current-color2: #ECEAED;
}

    #s1:checked~.cards #slide2, 
    #s2:checked~.cards #slide3,
    #s3:checked~.cards #slide4,
    #s4:checked~.cards #slide5,
    #s5:checked~.cards #slide1 {
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
        transform: translate3d(43%, 0, -120px);
        --current-color1: #ECEAED;
        --current-color2: #404457;
    }

    #s1:checked~.cards #slide3,
    #s2:checked~.cards #slide4, 
    #s3:checked~.cards #slide5,
    #s4:checked~.cards #slide1,
    #s5:checked~.cards #slide2 {
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
        transform: translate3d(70%, 0, -220px);
        --current-color1: #ECEAED;
        --current-color2: #404457;
}
}

/* Herramientas */

.container__tecnologias {
    height: 300px;
    width: 100%;
    position: relative;
}

.container__decripciontecnologias {
    height: auto;
    width: 85%;
    margin: 0px auto;
    position: relative;
}

.container__decripciontecnologias h4 {
    font-size: 20px;
    font-weight: 700;
    color: #373737;
    display: inline-block;
    font-family: 'EB Garamond', serif;   
}

.design5 {
    margin-top: 5px;
    height: 2px;
    width: 120px;
    background: #0D47A1;
}

.container__cardstools {
    margin: 20px;
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
}

.container__cardstools1 {
    margin: 0px 20px;
    height: 190px;
    width: 200px;
    background:  #041b34;
    border-radius: 40px;
    box-shadow: 0px 2px 15px #000000;
}

.container__cardstools1 img {
    width: 100%;
    height: 190px;
    object-fit: scale-down;
}

.figma {
    background:  #121315;
}

.firebase {
    background: #FFFFFF;
}

.sectioorigin {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: auto;
    position: relative;
    background: #424242;
}

.containerinformacionfinal {
    width: 85%;
    margin: 0px auto;
}

.containerinformacionfinal h4{
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: 700;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'EB Garamond', serif;  
}

.containerinformacionfinal p {
    color: #FFFFFF;
    padding-bottom: 20px;
    font-size: 1.2em;
    max-width: 100%;
    text-align: justify;
    display: inline-block;
}

@media screen and (max-width: 500px) {
    
    .container__decripciontecnologias h4 {
        font-size: 1.2em;
        font-weight: 700;
        color: #373737;
        display: inline-block;
        font-family: 'EB Garamond', serif;   
    }
    
    .design5 {
        margin-top: 5px;
        height: 2px;
        width: 120px;
        background: #0D47A1;
    }
    
    .container__cardstools {
        margin: 20px;
        height: auto;
        width: 100%;
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }
    
    .container__cardstools1 {
        margin: 10px 10px;
        height: 90px;
        width: 20%;
        background:  #041b34;
        border-radius: 10px;
        box-shadow: 0px 2px 15px #000000;
    }
    
    .container__cardstools1 img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
    
    .figma {
        background:  #121315;
    }
    
    .firebase {
        background: #FFFFFF;
    }
    
    .containerinformacionfinal h4{
        font-size: 1.2em;
        padding-bottom: 40px;
        font-weight: 700;
        color: #FFFFFF;
        display: inline-block;
        font-family: 'EB Garamond', serif;  
    }
    
    .containerinformacionfinal p {
        font-size: 18px;
        width: 100%;
        text-align: justify;
        display: inline-block;
    }
}

/* Foooter */

footer {
    margin-top: 1150px;
    height: 60px;
    width: 100%;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px #000;
}

.redessociales {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}

.redessociales p {
    display: block;
    margin-left: 250px;
    margin-top: 20px;
    font-family: 'EB Garamond', serif;
    color: #212121;
    font-size: 17px;
    font-weight: bold;
}

footer .redessociales ul {
    height: 100%;
    width: 200px;
    margin-left: 20px;
    position: relative;
    display: flex;
}

footer .redessociales ul li {
    font-size: 20px;
    margin: 20px 5px;
    list-style-type: none;
}

footer p {
    display: none;
}

@media screen and (max-width: 500px) {
    footer {
        margin-top: 0px;
        height: auto;
        width: 100%;
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 0px 15px #000;
    }
    
    .redessociales {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
    }
    
    .redessociales p {
        display: none;
    }
    
    footer .redessociales ul {
        height: 100%;
        width: 200px;
        margin-left: 100px;
        position: relative;
        display: flex;
    }
    
    footer .redessociales ul li {
        font-size: 20px;
        margin: 20px 5px;
        list-style-type: none;
    }

    footer p {
        display: block;
        text-align: center;
    }
}